body {
  background-color: #6ce2a2;
  text-align: center;
}

nav {

}

.nav_ul {
 list-style: none;
}

li {
  display: inline-block;
}

.nav_li {
  float: right;
  font-weight: bold;
  color: #9943db;
  background-color: #FF8C69;
  border-style: solid;
  border-width: thick;
  border-color: #9943db;
  margin: 5px;
  padding: 5px;
}

div.clear {
  clear: both;
}

h1 {
  float: clear;
  margin: 0, auto;
  font-weight: bold;
  color: #ED5153;
}

h2 {
  margin: 0 auto;
  width: 400 px;
  border-bottom: 5px solid #ED5153;
  color: #c4870d;
}

p.home {
  border-bottom: 5px solid #ED5153;
  margin: 0 auto;
  text-align: center;
  background-color: #7b8faf;
  color: #464849;
}

img {
  border-width: 10px;
  border-style: outset;
  border-color: #9943db;
}

ul.banner {
  list-style: none;
}

li.eat_buy {
  float: left;
  margin: 40px;
  padding: 5px;
}

ul.li.eat_buy {
  height:281px;
  width:450px;
  margin:0 auto;

  position: relative;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes topFadeInOut {
    0% {opacity:1; }
    45% {opacity: 1; }
    55% { opacity: 0; }
    100% { opacity:0; }
@keyframes bottomFadeInOut {
  0% {opacity: 0;}
  45% {opacity: 0;}
  55% {opacity: 1;}
  100% {opacity: 0 }
}
}

.top {
  animation-name: topFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

.bottom {
  animation-name: bottomFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  position: absolute;
  left: 92px;
  bottom: 5px;
}

.bottom_two {
  position: absolute;
  opacity: .5;
}

select {
  color: #800bed;
  font-weight: bold;
  width: 130px;
}

div {

}

.picture {
  margin: 0, auto;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    background-color: #800bed;
    font-weight: bold;
    width: 230px;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}

footer {
  font-weight: bold;
  color: #9943db;
  background-color: #FF8C69;
  border-style: solid;
  border-width: thick;
  border-color: #9943db;
  margin: 5px;
  padding: 5px;
}

ul.addresses {
  list-style: none;
}

li.location {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: 0px;
  padding: 2px;
}

li.locationtwo {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: 0px;
  padding: 2px;
}
